.form-inputs {
    border-radius: 25px;
    margin: 5px 0px;
    padding: 10px;
}
.form-inputs__dark {
    background-color: #31333a;
    border: #31333a 2px solid;
}
.form-inputs__light {
    background-color: #d6d7d9;
    border: #d6d7d9 2px solid;
}
.form-inputs__dark:hover {
    border: #666b7a 2px solid !important;
}
.form-inputs__light:hover {
    border: #9a9999 2px solid !important;
}
input {
    font-size: 2em;
    border: none;
    appearance: none;
    width: calc(85% - 95px );
    margin: 0px 5px;
    display: inline-block;
    text-overflow: ellipsis;
}
input:focus { outline: none; appearance: textfield;}

.input__dark {
    background-color: #31333a;
    color: #6e7684;
}

.input__light, .input__light::placeholder {
    background-color: #d6d7d9;
    color: #a3a5a9;
}

.changed-input__dark {
    color: #bec0c3;
     background-color: #31333a;
}
.changed-input__light {
    color: #676767;
    background-color: #d6d7d9;
}
.coin {
    margin: 0;
    width: calc(10% + 75px);
    font-weight: bold;
    font-size: 1.75em;
    padding: 8px 8px 8px 12px;
    border-radius: 8px;
    display: inline-block;
    user-select: none;
}
.coin__dark {
    background-color: #35373f;
    color: #bec3cd;
    border: #35373f 1px solid;
}
.coin__dark:hover {
    background-color: #434650;
    border: #434650 1px solid;
}
.coin__light {
    background-color: #c6c7ca;
    border: #c6c7ca 1px solid;
    color: #676767;
}
.coin__light:hover {
    background-color: #bfbfbf;
}

.coin > p {
    margin: 0;
    float: right;
}

.balance {
    display:inline-block;
    display: flex;
    justify-content: right;
    margin-top:4px;
    width: calc(100% - 5px);
}
.balance > p {
    margin: 0;
    margin-right: 2px;
    display: inline-block;
    text-align: right;
}
.balance__dark > p {
    color: #bec3cd;
}
.balance__light > p {
    color: #676767;
}
.balance > button {
    text-align: right;
    display: inline-block;
    border-radius: 5px;
    margin: 0px 2px;
    border:none;
  
    cursor: pointer;
}
.balance__dark > button {
    color: #0162ff;
    background-color: rgba(10, 85, 224, 0.25);
}
.balance__dark > button:hover {
    background-color: rgba(55, 117, 233, 0.25);
}
.balance__dark > button:active {
    background-color: rgba(10, 85, 224, 0.25);
}
.balance__light > button {
    color: #5289e0;
    background-color: rgba(68, 120, 216, 0.25);
}
.balance__light > button:hover {
    background-color: rgba(118, 166, 255, 0.25);
}
.balance__light > button:active {
    background-color: rgba(68, 120, 216, 0.25);
}
.eth-icon {
    background-image: url('../../Images/ethereum-icon.svg');
    width: 30px;
    height: 30px;
    transform: translate(15px, 5px);
    display: inline-block;
    background-size:contain;
}
.weth-icon {
    background-image: url('../../Images/weth-icon.svg');
    width: 30px;
    height: 30px;
    transform: translate(16px, 4.5px);
    display: inline-block;
    background-size:contain;
    background-repeat: no-repeat;
}
