.modal {
  
    border-radius: 30px;
    margin-top: 15px;
    padding-left: 15px;
    display: inline;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.modal__dark {
    background-color: #31333a;
    border: #31333a 1px solid;
}
.modal__dark > p, .modal__dark > a {
    color: #bec0c3;

}
.modal  > a:hover {
    color: #ffffff;
}
.modal__light {
    background-color: #d6d7d9;
    border: #d6d7d9 1px solid;
}
.modal__light > p, .modal__light > a {
    color: #676767;

}

.modal > p {
    text-align: left;
    margin: 5px 0px;
    padding: 5px 25px 5px  5px;
    font-size: 1.5em;
    display: inline-block;
    text-overflow: ellipsis;

}
.modal  > a {
    text-align: left;
    margin: 5px 0px;
    padding: 5px 15px 5px  5px;
    font-size: 1.5em;
    text-overflow: ellipsis;
    display: inline-block;
}

.modal > .pending {
    width: 30px;
    height: 30px;
    transform: translate(0px, 12px);
    float: right;
    margin-right: 25px;
    background-image: url('../../Images/loading.gif');
    background-size: cover;
    background-position: center;
    background-repeat: none;
}
.modal > .success {
    width: 30px;
    height: 30px;
    transform: translate(0px, 12px);
    float: right;
    margin-right: 25px;
    background-image: url('../../Images/success.png');
    background-size: cover;
    background-position: center;
    background-repeat: none;
}
.modal > .fail {
    width: 30px;
    height: 30px;
    transform: translate(0px, 12px);
    float: right;
    margin-right: 25px;
    background-image: url('../../Images/fail.png');
    background-size: cover;
    background-position: center;
    background-repeat: none;
}