.network-indicator  {
    width: fit-content;
    color: #bec0c3;
    font-size: 1.25em;
    font-weight: bold;
    background:  #1e1f25;
    border: none;
    float: right;
    margin-top: 7.5px;
    margin-right: 1.5%;
    padding: 5px 18px;
    pointer-events: none;
    box-shadow:  rgb(0 0 0 / 10%) 0px 8px 12px, rgb(0 0 0 / 10%) 0px 12px 16px;
    border-radius: 10px;
}
